
 form {
    display:inline-block;
}

#main {
    text-align:center;
    margin:100px 0 40px 0;
}

.btn {
    margin-right:5px;
}

.cen {
    text-align:justify;
    margin:0 auto;
    width:50%;
}

.err {
    color:red;
    text-align:center;
}